<!-- Pied de Page -->
<footer class="footer">
  <div class="container">
    <h3>Centre de Compétence Pluridisciplinaire</h3>
    <p>Bienvenue sur notre site officiel !</p>

    <div class="row">
      <div class="col-md-4">
        <h4>Liens Rapides</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Accueil</a>
          </li>
          <li>
            <a href="a propos.html">À Propos</a>
          </li>
          <li>
            <a href="mission.html">Nos Missions</a>
          </li>
          <li>
            <a href="#">Équipements</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Contactez-Nous</h4>
        <p>Email: contact@centrepluridisciplinaire.com</p>
        <p>Téléphone: +226 456 7890/ 56 56 56 56 /56 56 56 56</p>
      </div>
      <div class="col-md-4">
        <h4>Suivez-Nous</h4>
        <div class="social-icons">
          <a href="#" class="bi bi-facebook"></a>
          <a href="#" class="bi bi-twitter"></a>
          <a href="#" class="bi bi-linkedin"></a>
          <a href="#" class="bi bi-instagram"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
